{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 120,
  "bracketSameLine": true,
  "noBracketSpacing": true,
  "semi": true,
  "htmlWhitespaceSensitivity": "ignore"
}
